[Desktop Entry]
Categories=System;Settings;
Comment[en_GB]=Manage sched-ext BPF schedulers via scxctl
Comment=Manage sched-ext BPF schedulers via scxctl
Exec=scxctl-manager
GenericName[en_GB]=Scheduler Manager
GenericName=Scheduler Manager
Icon=scxctl-manager
Keywords=scheduler;sched-ext;scx;bpf;kernel;cachyos;performance;
MimeType=
Name[en_GB]=SCX Scheduler Manager
Name=SCX Scheduler Manager
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
